@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-style: normal;
}

.header {
  background-size: cover;
  background-position: center;
  background-image: url(../assets/img/iiot-la-gi.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}
@media screen and (min-width: 576px) {
  .header {
    min-height: 350px;
    background-size: contain;
  }
}
.header-block {
  padding-inline: 24px;
}
.header-messendger__img {
  width: 25px;
  max-width: 100%;
}
.header-block__logo {
  max-width: 350px;
  width: 100%;
}
.header-wrap {
  position: relative;
  z-index: 1;
}

.header::after {
  -webkit-backdrop-filter: blur(1.75px);
          backdrop-filter: blur(1.75px);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

.download_link {
  border-radius: 6px;
  background-color: #0d6efd;
  padding: 15px 18px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

body {
  font-family: Roboto;
  font-style: normal;
}

body {
  font-family: Roboto;
  font-style: normal;
}

.skills {
  max-width: 400px;
}
@media screen and (min-width: 576px) {
  .skills {
    border-right: 1px solid #0a58ca;
  }
}
.skills-cont {
  position: relative;
}
.skills-list {
  list-style-type: disc;
}

.expirence {
  list-style-type: disc;
}

.edu {
  border-top: 1px solid #0a58ca;
}

.carousel-indicators.carousel__buttons {
  position: static;
}
.carousel-indicators.carousel__buttons [data-bs-target] {
  width: 18px;
  height: 18px;
  background-color: #0a58ca;
  border-radius: 50%;
  max-width: 100%;
}

.carousel-control-next-icon.icon {
  background-image: url(../assets/svg/forward-solid.svg);
}

.carousel-control-prev-icon.icon {
  background-image: url(../assets/svg/backward-solid.svg);
}

.footer {
  border-top: 1px solid #0a58ca;
  position: relative;
}