.header {
  min-height: 350px;
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/img/iiot-la-gi.png);
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;

  &-block {
    padding-inline: 24px;

  }

  &-messendger__img {
    width: 25px;
    max-width: 100%;
  }

  &-block__logo {
    max-width: 350px;
    width: 100%;
  }
}

.download_link {
  // border: 3px solid white;
  border-radius: 30px;
  background-color: #0a58ca;
  padding: 15px 18px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}