@import "common-styles";

.header {
  background-size: cover;
  background-position: center;
  background-image: url(../assets/img/iiot-la-gi.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;

  @media screen and (min-width: $sm) {
    min-height: 350px;
    background-size: contain;
  }

  &-block {
    padding-inline: 24px;

  }

  &-messendger__img {
    width: 25px;
    max-width: 100%;
  }

  &-block__logo {
    max-width: 350px;
    width: 100%;
  }
}

.download_link {
  // border: 3px solid white;
  border-radius: 6px;
  background-color: #0d6efd;
  padding: 15px 18px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}