.skills {
  max-width: 400px;
  border-right: 1px solid #0a58ca;

  &-cont {
    position: relative;
  }

  &-list {
    list-style-type: disc;
  }
}

.expirence {
  list-style-type: disc;
}

.edu {
  // background-color: aquamarine;
  border-top: 1px solid #0a58ca;
}

.carousel-indicators.carousel__buttons {
  bottom: -70px;
  position: static;

  [data-bs-target] {
    width: 18px;
    height: 18px;
    background-color: #0a58ca;
    border-radius: 50%;
    max-width: 100%;
  }
}